<%= simple_form_for(contact) do |f| %>
  <%= f.association :district, label: "地區" %>
  <%= f.input :name, label: "名稱" %>
  <%= f.input :cell_phone, label: "手機號碼" %>
  <%= f.input :phone, label: "市話號碼" %>
  <hr>
  <div class="form-inline text-center">
    <%= link_to fa_icon("arrow-left", text: "回名單列表"), contacts_path, class: "btn btn-default" %>
    <%= button_tag type: 'submit', class: "btn btn-sm btn-primary" do %>
      <i class="fa fa-check" aria-hidden="true"></i>
      送出
    <% end %>
  </div>
<% end %>
