<h2>
  內西名單
  <%= link_to fa_icon("user-plus", text: "新增名單"), new_contact_path, class: "btn btn-primary btn-sm pull-right" %>
</h2>
<hr>
<ul class="nav nav-tabs nav-justified">
  <% if !params[:district] %>
    <li role="presentation" class="active"><%= link_to "全部", contacts_path %></a></li>
  <% else %>
    <li role="presentation"><%= link_to "全部", contacts_path %></a></li>
  <% end %>
  <% @districts.each do |district| %>
    <li role="presentation"  class="<%= 'active' if params[:district] == district.title %>"><%= link_to district.title, contacts_path(district: district.title) %></li>
  <% end %>
</ul>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>序</th>
      <th>地區</th>
      <th>姓名</th>
      <th>手機</th>
      <th colspan="2">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each_with_index do |contact, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= contact.district.title %></td>
        <td><%= link_to contact.name, edit_contact_path(contact)%></td>
        <td><%= contact.cell_phone %></td>
        <td><%= link_to fa_icon("pencil", text: "家訪紀錄"), contact_path(contact), class: "btn btn-sm btn-info" %></td>
        <td><%= link_to fa_icon("trash", text: "刪除"), contact_path(contact), method: :delete, data: { confirm: "確定要刪除？" }, class: "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
